.login-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -100px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: orange;*/
    background-color: rgba(173, 216, 230, 0.2); 
    height: 60vh;  
    width: 40vw;
    border-radius: 20px;
  }

  .bank-name{
    font-size: 40px;
    color:green;
  }
  